@import "../sasscommonmixxins/flex.scss";
@import "../sasscommonmixxins/button.scss";
@import "../sasscommonmixxins/mediaqueries.scss";

.searchElement {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  height: 600px;
  color: white;

  .searchFooter {
    margin-left: 5%;
    margin-bottom: 5%;
    padding-top: 15%;
    height: 50%;
    @include flexElements(flex, column, none, space-between);
    .titleAndGenresAndOverview {
      margin-right: 5%;
      @include flexElements(flex, row, none, space-between);
      .headerandGenreList {
        width: 40%;
        .searchedMovieGenreList {
          h2 {
            display: inline;
          }
        }
        @include mobile {
          width: 100%;
          h1 {
            font-size: 26px;
            display: inline;
          }
          h2 {
            font-size: 20px;
            margin-bottom: 4%;
          }
        }
      }

      .searchedMovieOverview {
        width: 25%;
        background-color: rgba(0, 0, 0, 0.541);

        p {
          padding: 10px;
        }
        @include mobile {
          width: 100%;
          margin-bottom: 4%;
        }
      }
      @include mobile {
        @include flexElements(flex, column, none, space-between);
      }
    }
    .searchedMovieExtraDetails {
      @include flexElements(flex, row, center, space-between);
      height: 15%;
      .searchedMovieRatings {
        @include flexElements(flex, row, center, space-between);
        width: 20%;
        .searchedMovieVoteAverage {
          border: 2px solid rgb(27, 186, 235);
          width: 15%;
          text-align: center;
          border-radius: 5px;
          p {
            margin-top: 3%;
            margin-bottom: 3%;
          }
          @include mobile {
            width: 10vw;
          }
        }
        @include mobile {
          width: 40vw;
        }
      }
      .searchedMovieExtraInfoButtons {
        @include flexElements(flex, row, none, space-evenly);
        width: 25%;
        height: 100%;
        margin-right: 5%;
        @include mobile {
          width: 45vw;
          @include flexElements(flex, row, none, space-between);
        }
      }
    }
  }
  @include mobile {
    height: 450px;
  }
}
